<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show All</title>
</head>
<body>
    {% load myapp_extras %}

    <form method="GET" action="">
        {{ filtered_persons.form.as_p }}
        <input type="submit" value="Press">
    </form>

    {% for person in person_page_obj %}
        <h2>
            {{ person.name }}
            <br>
            {{ person.gender }}
            <br>
            {{ person.age }}
            <br>
        </h2>
    {% endfor %}
    <div class="pagination">
        <span class="step-links">
            {% if person_page_obj.has_previous %}
             
               <a href="{% my_url 1 'page' request.GET.urlencode %}">&laquo; First</a>
               <a href="{% my_url person_page_obj.previous_page_number 'page' request.GET.urlencode %}"> 
                  Previous
               </a>

            {% endif %}
            
            <span class="current" > 
                Page {{person_page_obj.number}}  of {{person_page_obj.paginator.num_pages}}
            </span>

            {% if person_page_obj.has_next %}
             
               <a href="{% my_url person_page_obj.next_page_number 'page' request.GET.urlencode %}"> Next</a>
               <a href="{% my_url person_page_obj.paginator.num_pages 'page' request.GET.urlencode %}">&raquo; Last</a>

            {% endif %}
        </span>
    </div>
</body>
</html>